a {
  text-decoration: none; }

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: #fff; }

#main {
  margin: 50px 15px; }

.about-me {
  padding-bottom: 30px; }

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 0; }
