.navbar .logo-box, .navbar .menu-item, .navbar a, .offer .offer-details, .contact .social-icons-container, .contact .contact-icons-container {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  color: #3f3f3f; }

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  background-color: #3f3f3f;
  z-index: 100; }
  .navbar .logo {
    width: 40px;
    height: auto;
    border-radius: 40%; }
  .navbar .logo-box, .navbar .menu-item {
    width: 24%; }
  .navbar .logo-box {
    max-width: 100px; }
  .navbar .menu-item {
    max-width: 300px; }
  @media only screen and (min-width: 768px) {
    .navbar .menu-item {
      font-size: 22px; } }
  .navbar a {
    color: #f3f3f3;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background-color: #3f3f3f; }
    .navbar a:hover, .navbar a[data-active="true"] {
      background-color: #00c7cc;
      outline: none; }
  .navbar .menu-item {
    background-color: #3f3f3f; }
    .navbar .menu-item:hover {
      background-color: #00c7cc; }

#main {
  margin: 75px 0; }

@media only screen and (min-width: 768px) {
  #main {
    margin-bottom: 95px; } }

.tab-content {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%; }

@media only screen and (min-width: 768px) {
  .tab-content {
    margin: 85px auto; } }

.about-me .about-me-slider {
  max-width: 445px;
  margin: 0 auto 20px; }
  .about-me .about-me-slider .slick-prev:before, .about-me .about-me-slider .slick-next:before {
    color: #3f3f3f; }

.about-me .about-me-photo {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: auto;
  max-width: 450px; }

.about-me .about-me-paragraph {
  line-height: 150%;
  padding: 15px 0; }

@media only screen and (min-width: 768px) {
  .about-me .about-me-paragraph {
    font-size: 20px; }
  .about-me .about-me-photo {
    width: 40vw;
    max-width: 475px;
    margin: 10px;
    height: 30vw;
    max-height: 356px; }
  .about-me .about-me-slider {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }

.offer .massage-photo {
  object-fit: contain;
  width: 138px;
  height: 138px;
  max-height: 138px;
  background-color: #f3f3f3; }

.offer .offer-info {
  width: 100%; }

.offer .offer-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0; }

.offer .offer-description {
  padding: 15px; }

.offer .offer-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10px; }

@media only screen and (min-width: 470px) {
  .offer .offer-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 15px; }
  .offer .offer-info {
    width: calc(100% - 138px); } }

@media only screen and (min-width: 768px) {
  .offer .offer-title {
    font-size: 20px; }
  .offer .offer-description {
    font-size: 18px; } }

.offer .offer-details img {
  width: 30px;
  height: 30px; }

.offer .offer-details p:first-of-type, .offer .offer-details img {
  margin-right: 12px; }

.contact .contact-photo {
  max-width: 450px;
  margin: 0 auto 15px;
  display: block; }

.contact .contact-paragraph {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 18px; }

.contact .social-icons-container a:not(:last-of-type) {
  margin-right: 25px; }

.contact .contact-icons-container {
  flex-direction: column;
  margin-bottom: 20px; }
  .contact .contact-icons-container .contact-link {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #3f3f3f;
    width: 75%;
    max-width: 320px;
    margin-bottom: 15px; }
  .contact .contact-icons-container .contact-icon {
    margin-right: 15px; }

.contact .contact-icon {
  display: inline-block;
  width: 40px;
  height: 40px; }

@media only screen and (min-width: 768px) {
  .contact .contact-icon {
    width: 60px;
    height: 60px; }
  .contact .contact-paragraph {
    font-size: 22px; }
  .contact .contact-icons-container .contact-link {
    max-width: 380px; }
  .contact p {
    font-size: 18px; } }

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #cccccc;
  padding: 10px 0; }
